body {
  background-image: url('./assets/background.jpg');
  background-color: rgba(0, 0, 0, 0.81);
  background-blend-mode: color;
background-size: cover;
background-position: -700px;
}

h1 {
 line-height: 5px;
}

.main-container {
  display: flex ;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

};




.search-bar {
  display: flex;
  align-items: center;
}

select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #000000;
  border: 2px solid #ccc;
  border-radius: 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dropdown-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.dropdown-container::after {
  content: '▼';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}