body {
  background-image: url('./assets/background.jpg');
  background-color: rgba(0, 0, 0, 0.81);
  background-blend-mode: color;
background-size: cover;
background-position: -700px;
}

h1 {
 line-height: 5px;
}

.main-container {
  display: flex ;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

};




.search-bar {
  display: flex;
  align-items: center;
}